<!-- Server side Implementation -->
<!-- Test Account Payment -->
<form [formGroup]="serverStripe" id="payment-form">
    <div class="form-row">
        <input placeholder="amount" type="number" formControlName="amount" />
        <input type="text" placeholder="name" formControlName="name" />
        <input type="text" placeholder="description" formControlName="description" />
    </div>
    <!-- <button (click)="makePayment()">Charge</button> -->
</form>

<!-- Accept a payment -->
<!-- Token Creation -->
<h2>Create Token Example</h2>
<ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
<button type="submit" (click)="createToken()">
    CREATE TOKEN
</button>
<button (click)="pay()">Pay</button>